CompileFlags:
  Add: [
    -ferror-limit=0, 
    -fdiagnostics-color=always, 
    -Wall, 
    -Wextra, 
    -Weverything, 
    -Wno-padded, 
    -Wno-extra-semi-stmt, 
    -Wno-switch-default, 
    -Wno-unsafe-buffer-usage, 
    -Wno-declaration-after-statement, 
    -Wno-switch-enum,
    -Wno-implicit-int-float-conversion,
    -Wno-unused-macros,
    -Wno-c++98-compat-pedantic
  ]
